$mob-xs: 320px;
$mob-s: 580px;
$tablet-w: 768px;
$desk-w: 960px;

$mainFont: "Roboto";

$black: #000000;
$white: #ffffff;
$purple: #5f62ac;
$darkPurple: #4a439d;
$yellow: #f0c630;
$containerWidth: 1140px;
$containerWidthLg: 1420px;
