<section class="map-section">
	<div class="container">
		<div id="location" class="title-h3">Локация</div>

		<div class="map">
			<div class="map__address xs-title">Москва, ЦАО, Пресненский, Шмитовский проезд, вл. 39</div>
			<div class="map__metro-info">

				<div class="metro-target">
					<div class="metro-target__name">Шелепиха</div>
					<div class="metro-target__distance">5 мин пешком</div>
				</div>
				<div class="metro-target">
					<div class="metro-target__name">Фили</div>
					<div class="metro-target__distance">6 мин на транспорте</div>
				</div>
			</div>

			<div class="map__box">
				<div class="map__box-canvas">
					<img src="img/media/map.png" alt="карта">
				</div>
				<div class="map__box-btn">
					<a href="#map-modal" class="modal-btn">
						<i class="icon-chevron"></i>
						Объекты инфраструктуры
					</a>
				</div>
				<div id="map-modal" class="map-modal">

					<label for="school" class="custom-label-checkbox">
						<input type="checkbox" id="school" checked>
						<span class="custom-checkbox"></span>
						<span class="custom-label">Школы</span>
					</label>
					<label for="apteki" class="custom-label-checkbox">
						<input type="checkbox" id="apteki" checked>
						<span class="custom-checkbox"></span>
						<span class="custom-label">Аптеки</span>
					</label>

					<label for="institut" class="custom-label-checkbox">
						<input type="checkbox" id="institut" checked>
						<span class="custom-checkbox"></span>
						<span class="custom-label">Высшие учебные заведения</span>
					</label>

					<label for="amb" class="custom-label-checkbox">
						<input type="checkbox" id="amb" checked>
						<span class="custom-checkbox"></span>
						<span class="custom-label">Больницы</span>
					</label>

					<label for="shop" class="custom-label-checkbox">
						<input type="checkbox" id="shop" checked>
						<span class="custom-checkbox"></span>
						<span class="custom-label">Магазины</span>
					</label>

					<label for="fitnes" class="custom-label-checkbox">
						<input type="checkbox" id="fitnes" checked>
						<span class="custom-checkbox"></span>
						<span class="custom-label">Фитнес</span>
					</label>

				</div>
			</div>

		</div>

	</div>
</section>
