<section class="promo-section">
	<div class="container">
		<div class="flex-row flex-v-center">

			<div class="col-12-12-xs col-6-12-l">
				<div class="title-h3">Запишитесь на просмотр и оцените всё сами!</div>
			</div>
			<div class="col-12-12-xs col-6-12-l">
				<div class="promo-section__btn">
					<a href="#reg" class="btn">Запись на просмотр</a>
				</div>
			</div>
		</div>
	</div>
</section>
