<section id="desc" class="tabs-section">
	<div class="container">
		<div class="overflow-container">
			<ul class="tab">
				<li class="active">
					<a href="#">Плюсы и минусы</a>
				</li>

				<li>
					<a href="#">Аэротур</a>
				</li>

				<li>
					<a href="#">Планировки</a>
				</li>

				<li>
					<a href="#">Планировки</a>
				</li>
			</ul>
		</div>

		<ul class="tab-content">
			<li class="active">
				<div class="flex-row">
					<div class="col-12-12-xs col-6-12-l">
						<ul class="mark-list mark-list--plus">
							<li>Привлекательная архитектура</li>
							<li>Большой выбор квартир</li>
							<li>Поразительные виды из окон</li>
							<li>Сложившийся район со всем необходимым</li>
							<li>Сравнительно низкие цены</li>
						</ul>

					</div>
					<div class="col-12-12-xs col-6-12-l">
						<ul class="mark-list mark-list--minus">
							<li>Недостаток собственной инфраструктуры</li>
							<li>Частые пробки вокруг</li>
							<li>Не лучшая экология</li>
						</ul>

					</div>
				</div>
			</li>
			<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nesciunt. Ipsa, ab. Eligendi cupiditate assumenda nulla repellat obcaecati accusamus quibusdam adipisci optio neque delectus! Esse nemo ipsa amet autem inventore.</li>
			<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis delectus fugiat laudantium? Dicta assumenda sequi, nihil repudiandae minus laboriosam.l</li>
			<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, architecto.</li>
		</ul>


	</div>
</section>
