{% block content %}

	<header class="header">
		<div class="container container--lg">
			<div class="flex flex-v-center">
				<a href="/" class="logo">
					<img src="img/icon-svg/logo.svg" alt="Headliner" title="Headliners">
				</a>
				<nav class="main-nav visible-tablet">
					<ul>
						<li><a href="#desc">Описание</a></li>
						<li><a href="#location">Локация</a></li>
						<li><a href="#see">Смотрите также</a></li>
						<li><a href="#reg">Запись на просмотр</a></li>
					</ul>
				</nav>

				<a href="" class="menu-btn hidden-tablet">
					<svg width="32px" height="32px" class="icon-btn">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#mobile-menu"></use>
					</svg>
					<svg width="12px" height="12px" class="icon-close">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#close"></use>
					</svg>
				</a>

			</div>

		</div>

	</header>

{% endblock %}
