{% block content %}

	<footer class="footer">
		<div class="container">
			<div class="flex-row">
				<div class="col-12-12-xs col-6-12-m col-3-12-l">

					<div class="footer__title js__toggle-menu">Новостройки

						<i class="icon-chevron"></i>
					</div>
					<ul class="menu-list">
						<li>
							<a href="" class="href">Квартиры в Москве</a>
						</li>
						<li>
							<a href="">Квартиры в Новой Москве</a>
						</li>
						<li>
							<a href="">Квартиры в Подмосковье</a>
						</li>

						<li>
							<a href="">В Москве</a>
						</li>

						<li>
							<a href="">В Подмосковье</a>
						</li>

						<li>
							<a href="">В Новой Москве</a>
						</li>


					</ul>
				</div>
				<div class="col-12-12-xs col-6-12-m col-3-12-l">
					<div class="footer__title js__toggle-menu">Популряное

						<i class="icon-chevron"></i>
					</div>
					<ul class="menu-list">
						<li>
							<a href="" class="href">В рассрочку</a>
						</li>
						<li>
							<a href="">Военная ипотека</a>
						</li>
						<li>
							<a href="">До 4 млн</a>
						</li>

						<li>
							<a href="">До 6 млн</a>
						</li>

						<li>
							<a href="">Внутри МКАД</a>
						</li>
					</ul>
				</div>

				<div class="col-12-12-xs col-6-12-m col-3-12-l">
					<div class="footer__title">Рекламный отдел
					</div>
					<div class="footer__contacts">
						<a href="tel:+74959874247">+7 (495) 987-42-47 доб. 501
						</a>
						<a href="mailto:kp@novostroy-m.ru">kp@novostroy-m.ru</a>
					</div>
				</div>

				<div class="col-12-12-xs col-6-12-m col-3-12-l">
					<div class="footer__title">
						<div class="copyright">© 2011—2020 Новострой-М</div>
						Всё, что нужно знать о новостройках
					</div>
				</div>


			</div>
		</div>
	</footer>

{% endblock %}
